body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.list li h3{
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: .6em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
}

.list li p {    
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin: -.5em 0 .6em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ui-li-aside {
float: right;
width: 50%;
text-align: right;
margin: .3em 0;
}

.list li p.wrap {
    white-space: normal;
}