body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: center;    
}

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}

dt {
    margin: 35px 0 15px 0;
    background-color: #DDD;
    font-weight: normal;
}

p.wrap{
    white-space: normal;
}

.collapse-wrap .ui-btn-text{
    white-space: normal;
}